<html>
  <head>
    <link rel="stylesheet" href="./ChristmaxModel.css">
  </head>
  <body>
    <div class="model3d-christmaxmodel-model-container">
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pinestem-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pinestem-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pinestem-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pinestem-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pinestem-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face5"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face6"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face7"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face8"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face9"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face10"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face11"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face12"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face13"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face14"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face15"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face16"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face17"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face18"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face19"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face20"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face21"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face22"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-pineleaf-face23"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox1-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox1-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox1-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox1-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox1-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon1-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon1-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon1-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon1-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon1-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox2-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox2-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox2-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox2-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftbox2-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon2-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon2-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon2-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon2-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-giftboxribbon2-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face5"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face6"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face7"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face8"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face9"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face10"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face11"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face12"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanbelly-face13"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face5"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face6"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face7"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face8"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face9"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face10"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face11"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face12"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face13"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face14"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face15"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face16"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanchest-face17"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanrighthand-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanrighthand-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanrighthand-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face3"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face4"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face5"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face6"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face7"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face8"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face9"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face10"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face11"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face12"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face13"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face14"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face15"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face16"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanhead-face17"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanlefthand-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanlefthand-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmanlefthand-face2"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmannose-face0"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmannose-face1"></div>
      <div class="model3d-christmaxmodel-model-face model3d-christmaxmodel-model-snowmannose-face2"></div>
    </div>
  </body>
</html>