.model3d-plane-model-container {
	width: 360.00px;
	height: 360.00px;
	perspective: 1200px;
	transform-style: preserve-3d;
	perspective-origin: 50% 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-origin: 50% 50%;
	animation: rotate360 10s infinite linear;
}
@keyframes rotate360 {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}
.model3d-plane-model-sphere-face0 {
	position: absolute;
	background-color: rgb(177.72,177.72,177.72);
	width: 141.65px;
	height: 156.39px;
	clip-path: polygon(0.00px 18.78px, 6.47px 156.39px, 141.65px 129.84px, 95.59px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(37.26px) translateY(-65.81px) translateZ(111.35px) rotateX(-9.26deg) rotateY(40.73deg) rotateZ(6.07deg)
}
.model3d-plane-model-sphere-face1 {
	position: absolute;
	background-color: rgb(141.49,141.49,141.49);
	width: 137.73px;
	height: 91.89px;
	clip-path: polygon(32.35px 91.89px, 137.73px 3.15px, 0.00px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-61.57px) translateY(118.60px) translateZ(-13.50px) rotateX(259.88deg) rotateY(5.91deg) rotateZ(150.00deg)
}
.model3d-plane-model-sphere-face2 {
	position: absolute;
	background-color: rgb(204.09,204.09,204.09);
	width: 94.58px;
	height: 136.78px;
	clip-path: polygon(16.43px 0.00px, 0.00px 136.78px, 94.58px 113.45px);
	top: 50%;
	left: 50%;
	transform: translateX(31.23px) translateY(-169.62px) translateZ(103.68px) rotateX(41.37deg) rotateY(24.53deg) rotateZ(-20.08deg)
}
.model3d-plane-model-sphere-face3 {
	position: absolute;
	background-color: rgb(153.20,153.20,153.20);
	width: 151.54px;
	height: 164.13px;
	clip-path: polygon(0.00px 39.24px, 58.16px 164.13px, 151.54px 136.38px, 132.06px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-1.00px) translateY(36.69px) translateZ(67.17px) rotateX(-60.93deg) rotateY(32.03deg) rotateZ(43.64deg)
}
.model3d-plane-model-sphere-face4 {
	position: absolute;
	background-color: rgb(158.38,158.38,158.38);
	width: 167.55px;
	height: 175.38px;
	clip-path: polygon(0.00px 45.40px, 45.66px 175.38px, 167.55px 111.18px, 86.19px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(68.53px) translateY(-110.98px) translateZ(20.46px) rotateX(38.63deg) rotateY(77.90deg) rotateZ(-38.00deg)
}
.model3d-plane-model-sphere-face5 {
	position: absolute;
	background-color: rgb(133.02,133.02,133.02);
	width: 137.76px;
	height: 92.10px;
	clip-path: polygon(0.00px 90.79px, 137.76px 92.10px, 35.31px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-20.01px) translateY(87.00px) translateZ(-85.20px) rotateX(243.63deg) rotateY(14.21deg) rotateZ(153.66deg)
}
.model3d-plane-model-sphere-face6 {
	position: absolute;
	background-color: rgb(195.62,195.62,195.62);
	width: 121.46px;
	height: 129.10px;
	clip-path: polygon(0.00px 0.00px, 48.09px 129.10px, 121.46px 65.01px);
	top: 50%;
	left: 50%;
	transform: translateX(43.47px) translateY(-175.10px) translateZ(64.29px) rotateX(59.05deg) rotateY(33.89deg) rotateZ(-42.92deg)
}
.model3d-plane-model-sphere-face7 {
	position: absolute;
	background-color: rgb(133.86,133.86,133.86);
	width: 171.91px;
	height: 177.87px;
	clip-path: polygon(0.00px 72.95px, 89.27px 177.87px, 171.91px 126.29px, 116.87px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(46.75px) translateY(-11.32px) translateZ(-22.63px) rotateX(250.57deg) rotateY(58.83deg) rotateZ(112.40deg)
}
.model3d-plane-model-sphere-face8 {
	position: absolute;
	background-color: rgb(158.01,158.01,158.01);
	width: 171.90px;
	height: 177.86px;
	clip-path: polygon(0.00px 51.56px, 55.01px 177.86px, 171.90px 104.95px, 82.65px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(30.27px) translateY(-166.54px) translateZ(-67.88px) rotateX(130.57deg) rotateY(50.00deg) rotateZ(221.82deg)
}
.model3d-plane-model-sphere-face9 {
	position: absolute;
	background-color: rgb(132.85,132.85,132.85);
	width: 121.46px;
	height: 129.10px;
	clip-path: polygon(0.00px 64.08px, 121.46px 129.10px, 73.37px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-22.23px) translateY(46.02px) translateZ(-116.24px) rotateX(226.09deg) rotateY(8.79deg) rotateZ(170.98deg)
}
.model3d-plane-model-sphere-face10 {
	position: absolute;
	background-color: rgb(195.45,195.45,195.45);
	width: 137.76px;
	height: 92.03px;
	clip-path: polygon(0.00px 0.00px, 102.52px 92.03px, 137.76px 1.21px);
	top: 50%;
	left: 50%;
	transform: translateX(23.34px) translateY(-179.06px) translateZ(33.82px) rotateX(78.79deg) rotateY(27.70deg) rotateZ(-66.91deg)
}
.model3d-plane-model-sphere-face11 {
	position: absolute;
	background-color: rgb(133.49,133.49,133.49);
	width: 167.55px;
	height: 175.37px;
	clip-path: polygon(0.00px 64.19px, 81.35px 175.37px, 167.55px 129.98px, 121.90px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(19.68px) translateY(-64.40px) translateZ(-113.61px) rotateX(189.84deg) rotateY(40.08deg) rotateZ(173.63deg)
}
.model3d-plane-model-sphere-face12 {
	position: absolute;
	background-color: rgb(176.82,176.82,176.82);
	width: 151.55px;
	height: 164.14px;
	clip-path: polygon(0.00px 27.76px, 19.49px 164.14px, 151.55px 124.88px, 93.38px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-61.69px) translateY(-200.83px) translateZ(-99.53px) rotateX(131.54deg) rotateY(8.13deg) rotateZ(189.07deg)
}
.model3d-plane-model-sphere-face13 {
	position: absolute;
	background-color: rgb(141.10,141.10,141.10);
	width: 94.58px;
	height: 136.78px;
	clip-path: polygon(0.00px 23.33px, 78.15px 136.78px, 94.58px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-53.79px) translateY(32.86px) translateZ(-129.92px) rotateX(217.28deg) rotateY(-6.94deg) rotateZ(185.26deg)
}
.model3d-plane-model-sphere-face14 {
	position: absolute;
	background-color: rgb(203.69,203.69,203.69);
	width: 137.74px;
	height: 91.82px;
	clip-path: polygon(0.00px 88.95px, 137.74px 91.82px, 105.20px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-54.66px) translateY(-210.48px) translateZ(5.50px) rotateX(86.05deg) rotateY(11.02deg) rotateZ(-70.15deg)
}
.model3d-plane-model-sphere-face15 {
	position: absolute;
	background-color: rgb(152.30,152.30,152.30);
	width: 141.66px;
	height: 156.39px;
	clip-path: polygon(0.00px 26.56px, 46.07px 156.39px, 141.66px 137.61px, 135.18px 0.00px);
	top: 50%;
	left: 50%;
	transform: translateX(-59.62px) translateY(-90.59px) translateZ(-154.80px) rotateX(173.00deg) rotateY(1.10deg) rotateZ(180.14deg)
}
.model3d-plane-model-sphere-face16 {
	position: absolute;
	background-color: rgb(203.80,203.80,203.80);
	width: 151.54px;
	height: 164.13px;
	clip-path: polygon(58.16px 0.00px, 0.00px 124.89px, 132.06px 164.13px, 151.54px 27.75px);
	top: 50%;
	left: 50%;
	transform: translateX(-150.54px) translateY(-200.82px) translateZ(-67.18px) rotateX(119.07deg) rotateY(-32.03deg) rotateZ(136.36deg)
}
.model3d-plane-model-sphere-face17 {
	position: absolute;
	background-color: rgb(152.91,152.91,152.91);
	width: 94.58px;
	height: 136.78px;
	clip-path: polygon(0.00px 0.00px, 16.43px 136.78px, 94.58px 23.33px);
	top: 50%;
	left: 50%;
	transform: translateX(-125.82px) translateY(32.86px) translateZ(-103.70px) rotateX(221.37deg) rotateY(-24.53deg) rotateZ(200.08deg)
}
.model3d-plane-model-sphere-face18 {
	position: absolute;
	background-color: rgb(215.51,215.51,215.51);
	width: 137.73px;
	height: 91.89px;
	clip-path: polygon(137.73px 88.74px, 32.35px 0.00px, 0.00px 91.89px);
	top: 50%;
	left: 50%;
	transform: translateX(-76.16px) translateY(-210.50px) translateZ(13.50px) rotateX(79.88deg) rotateY(-5.91deg) rotateZ(30.00deg)
}
.model3d-plane-model-sphere-face19 {
	position: absolute;
	background-color: rgb(179.28,179.28,179.28);
	width: 141.65px;
	height: 156.39px;
	clip-path: polygon(6.47px 0.00px, 0.00px 137.61px, 95.59px 156.39px, 141.65px 26.56px);
	top: 50%;
	left: 50%;
	transform: translateX(-178.91px) translateY(-90.58px) translateZ(-111.34px) rotateX(170.74deg) rotateY(-40.73deg) rotateZ(173.93deg)
}
.model3d-plane-model-sphere-face20 {
	position: absolute;
	background-color: rgb(198.62,198.62,198.62);
	width: 167.55px;
	height: 175.38px;
	clip-path: polygon(45.66px 0.00px, 0.00px 129.98px, 86.19px 175.38px, 167.55px 64.20px);
	top: 50%;
	left: 50%;
	transform: translateX(-236.08px) translateY(-64.40px) translateZ(-20.46px) rotateX(218.63deg) rotateY(-77.90deg) rotateZ(218.00deg)
}
.model3d-plane-model-sphere-face21 {
	position: absolute;
	background-color: rgb(223.14,223.14,223.14);
	width: 171.91px;
	height: 177.87px;
	clip-path: polygon(89.27px 0.00px, 0.00px 104.93px, 116.87px 177.87px, 171.91px 51.58px);
	top: 50%;
	left: 50%;
	transform: translateX(-218.66px) translateY(-166.55px) translateZ(22.61px) rotateX(70.57deg) rotateY(-58.83deg) rotateZ(67.60deg)
}
.model3d-plane-model-sphere-face22 {
	position: absolute;
	background-color: rgb(161.38,161.38,161.38);
	width: 121.46px;
	height: 129.10px;
	clip-path: polygon(48.09px 0.00px, 0.00px 129.10px, 121.46px 64.09px);
	top: 50%;
	left: 50%;
	transform: translateX(-164.94px) translateY(46.02px) translateZ(-64.31px) rotateX(239.05deg) rotateY(-33.89deg) rotateZ(222.92deg)
}
.model3d-plane-model-sphere-face23 {
	position: absolute;
	background-color: rgb(223.98,223.98,223.98);
	width: 137.76px;
	height: 92.10px;
	clip-path: polygon(137.76px 0.00px, 0.00px 1.31px, 35.31px 92.10px);
	top: 50%;
	left: 50%;
	transform: translateX(-117.75px) translateY(-179.11px) translateZ(85.20px) rotateX(63.63deg) rotateY(-14.21deg) rotateZ(26.34deg)
}
.model3d-plane-model-sphere-face24 {
	position: absolute;
	background-color: rgb(224.15,224.15,224.15);
	width: 121.46px;
	height: 129.10px;
	clip-path: polygon(121.46px 0.00px, 0.00px 65.02px, 73.37px 129.10px);
	top: 50%;
	left: 50%;
	transform: translateX(-99.22px) translateY(-175.10px) translateZ(116.22px) rotateX(46.09deg) rotateY(-8.79deg) rotateZ(9.02deg)
}
.model3d-plane-model-sphere-face25 {
	position: absolute;
	background-color: rgb(198.99,198.99,198.99);
	width: 171.90px;
	height: 177.86px;
	clip-path: polygon(55.01px 0.00px, 0.00px 126.31px, 82.65px 177.86px, 171.90px 72.91px);
	top: 50%;
	left: 50%;
	transform: translateX(-202.17px) translateY(-11.32px) translateZ(67.89px) rotateX(-49.43deg) rotateY(-50.00deg) rotateZ(-41.82deg)
}
.model3d-plane-model-sphere-face26 {
	position: absolute;
	background-color: rgb(223.51,223.51,223.51);
	width: 167.55px;
	height: 175.37px;
	clip-path: polygon(81.35px 0.00px, 0.00px 111.18px, 121.90px 175.37px, 167.55px 45.39px);
	top: 50%;
	left: 50%;
	transform: translateX(-187.23px) translateY(-110.98px) translateZ(113.62px) rotateX(9.84deg) rotateY(-40.08deg) rotateZ(6.37deg)
}
.model3d-plane-model-sphere-face27 {
	position: absolute;
	background-color: rgb(161.55,161.55,161.55);
	width: 137.76px;
	height: 92.03px;
	clip-path: polygon(102.52px 0.00px, 0.00px 92.03px, 137.76px 90.82px);
	top: 50%;
	left: 50%;
	transform: translateX(-161.10px) translateY(87.02px) translateZ(-33.82px) rotateX(258.79deg) rotateY(-27.70deg) rotateZ(246.91deg)
}
.model3d-plane-model-sphere-face28 {
	position: absolute;
	background-color: rgb(215.90,215.90,215.90);
	width: 94.58px;
	height: 136.78px;
	clip-path: polygon(78.15px 0.00px, 0.00px 113.45px, 94.58px 136.78px);
	top: 50%;
	left: 50%;
	transform: translateX(-40.79px) translateY(-169.62px) translateZ(129.89px) rotateX(37.28deg) rotateY(6.94deg) rotateZ(-5.26deg)
}
.model3d-plane-model-sphere-face29 {
	position: absolute;
	background-color: rgb(180.18,180.18,180.18);
	width: 151.55px;
	height: 164.14px;
	clip-path: polygon(19.49px 0.00px, 0.00px 136.38px, 93.38px 164.14px, 151.55px 39.25px);
	top: 50%;
	left: 50%;
	transform: translateX(-89.86px) translateY(36.68px) translateZ(99.52px) rotateX(-48.46deg) rotateY(-8.13deg) rotateZ(-9.07deg)
}
.model3d-plane-model-sphere-face30 {
	position: absolute;
	background-color: rgb(204.70,204.70,204.70);
	width: 141.66px;
	height: 156.39px;
	clip-path: polygon(46.07px 0.00px, 0.00px 129.83px, 135.18px 156.39px, 141.66px 18.78px);
	top: 50%;
	left: 50%;
	transform: translateX(-82.04px) translateY(-65.81px) translateZ(154.77px) rotateX(-7.00deg) rotateY(-1.10deg) rotateZ(-0.14deg)
}
.model3d-plane-model-sphere-face31 {
	position: absolute;
	background-color: rgb(153.31,153.31,153.31);
	width: 137.74px;
	height: 91.82px;
	clip-path: polygon(137.74px 0.00px, 0.00px 2.87px, 105.20px 91.82px);
	top: 50%;
	left: 50%;
	transform: translateX(-83.08px) translateY(118.65px) translateZ(-5.50px) rotateX(266.05deg) rotateY(-11.02deg) rotateZ(250.15deg)
}
