.file-down-upload-panel-container {
	width: 256px;
	display: flex;
	flex-direction: column;
}
.file-down-upload-panel-file-container {
	max-height: 320px;
}
.file-down-upload-panel-file-subcontainer {
	display: flex;
	flex-direction: column;
	height: max-content;
}

.file-down-upload-panel-header {
	height: 32px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 8px;
}
.file-down-upload-panel-header-button {
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #444;
	background-color: transparent;
	border: none;
}
.file-down-upload-panel-separator {
	height: 1px;
	min-height: 1px;
	width: 100%;
	background-color: #EEE;
}