.checkbox-container {
  height: max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox-icon-container,
.checkbox-checked-icon-container {
  height: var(--base-checkbox-size);
  width: var(--base-checkbox-size);
  font-size: var(--base-checkbox-icon-fontsize);
  color: var(--base-checkbox-checked-icon-color);
  border-radius: 2px;
  cursor: pointer;
}
.checkbox-icon-container {
  background-color: var(--base-checkbox-unchecked-background-color);
  border: solid 2px var(--base-checkbox-unchecked-border-color);
}
.checkbox-checked-icon-container {
  background-color: var(--base-checkbox-checked-background-color);
  border: solid 2px var(--base-checkbox-checked-border-color);
}
.checkbox-label {
  color: var(--base-checkbox-label-color);
  font-size: var(--base-checkbox-label-fontsize);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  margin: 0px;
}