.dialog-background {
  position: fixed;
	bottom: 0px;
  left: 0px;
	width: 100vw;
	height: 100vh;
	background-color:#8888;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.dialog-background-enter {
  opacity: 0;
}

.dialog-background-enter-active {
  opacity: 1;
  transition: 200ms;
}

.dialog-background-enter-done {
  opacity: 1;
}

.dialog-background-exit {
  opacity: 1;
}

.dialog-background-exit-active {
  opacity: 0;
  transition: 200ms;
}

.dialog-background-exit-done {
  opacity: 0;
}