.floating-pointer-container {
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.floating-pointer-children-anchor {
  position: relative;
  width: 0px;
  height: 0px;
}