.floating-page-anchor {
	position: relative;
	width: 0px;
	height: 0px;
	display: flex;
	flex-direction: column;
}
.floating-page-container {
	position: absolute;
	background-color: transparent;
}
.floating-page-minimized-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 3px;
	overflow: hidden;
}
.floating-page-browser-header,
.floating-page-mobile-header {
	height: 40px;
	background-color: #7A7A7A;
	display: flex;
	justify-content: flex-end;
	cursor: all-scroll;
	box-shadow: 0px 0px 3px;
}
.floating-page-browser-header {
	opacity: 0;
}
.floating-page-browser-header:hover {
	opacity: 1;
}
.floating-page-minimized-header {
	height: 40px;
	width: 40px;
	background-color: #7A7A7A;
	display: flex;
	justify-content: flex-end;
	cursor: all-scroll;
	border-radius: 50%;
}
.floating-page-header-button {
	border: none;
	height: 40px;
	width: 40px;
	background-color: transparent;
	font-size: 20px;
	color: #FFF;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.floating-page-minimized-button {
	border-radius: 50%;
	background-color: transparent;	
}
.floating-page-content-container {
	box-shadow: 0px 0px 4px #DDD;
	background-color: #FFF;
	position: absolute;
}
.floating-page-left-resizer {
	width: 30px;
	top: 0px;
	left: 0px;
	cursor: ew-resize;
}
.floating-page-right-resizer {
	width: 30px;
	top: 0px;
	cursor: ew-resize;
}
.floating-page-top-resizer {
	height: 30px;
	left: 0px;
	top: 0px;
	cursor: ns-resize;
}
.floating-page-bottom-resizer {
	height: 30px;
	left: 0px;
	cursor: ns-resize;
}
.floating-page-resizer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8882;
	opacity: 0;	
	z-index: 1;
}
.floating-page-resizer:hover {
	opacity: 1;
}
.floating-page-arrow-icon {
	font-size: 25px;
	color: rgb(136, 136, 136);
}
.floating-page-header-anchor {
	width: 0px;
	height: 0px;
	left: 0px;
	top: -40px;
	position: absolute;
}
.floating-page-resizer-anchor {
	position: absolute;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 0px;
}
