.test-page-page-container {
	width: calc(100% - 48px);
	height: 100vh;
	overflow: auto;
	padding-left: 48px;
}
.test-page-page-subcontainer {
	height: max-content;
	display: flex;
	flex-direction: column;
	padding: 8px;
}
.test-page-image-board-container {
	width: 100%;
	height: 384px;
}
.test-page-label {
	padding: 8px;
}
.test-page-button {
	padding: 8px;
	width: max-content;
}
.test-page-keyword-searchbox-container {
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}
.test-page-info-comment-container {
	height: 360px;
	margin: 8px;
	border: solid 1px #AAA;
	position: relative;
}
.test-page-floating-pointer-container {
	height: 360px;
	margin: 8px;
	border: solid 1px #AAA;
	position: relative;
}
.test-page-floating-view-container {
	height: 360px;
	margin: 8px;
	border: solid 1px #AAA;
	position: relative;
}
.test-page-drop-down-select-container {
	height: 256px;
	width: 320px;
	border: solid 1px #DDD;
	padding: 8px;
}