.app-page-container {
	width: calc(100% - 48px);
	height: 100vh;
	overflow: auto;
	padding-left: 48px;
	display: flex;
	flex-direction: column;
}
.app-image-board-container {
	width: 100%;
	height: 384px;
}
.app-label {
	padding: 8px;
}
.app-keyword-searchbox-container {
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}